.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.mr {
  margin-right: 20px;
}
